ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: steelblue;
}

nav li a{
    color: salmon;
    font-size: 1.5rem;
}
