ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* navigation bar */
nav{
    top: 0.5;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #6d6166;
}

nav li a{
    color: salmon;
    font-size: 1.5rem;
}

/* head logo */
header{
    width: 100%;
    height: 750px;
    background-image: url(./images/logos/sleep.jpg);
    background-size: 100% 100%;
}

header h1{
    margin: 0 auto;
    font-size: 7rem;
    width: 100%;
    position: relative;
    text-align: center;
    top: 8%;
    color: #d25e8a;
    font-family: 'Pacifico', cursive;
}

/* about */
#about-us{
    width: 75%;
    margin: 0 auto;
}

