/* universal */
html{
    background-color: #2f292c;
}

ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 100px auto;
    flex-wrap: wrap;
}

h2{
    text-align: center;
    color: #05511f;
    font-size: 5rem;
    margin-top: 150px;
    font-family: Helvetica, sans-serif;
    text-decoration: underline;
}

/* navigation bar */
nav{
    top: 0.5;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #6d6166;
}

nav li a{
    color: salmon;
    font-size: 1.5rem;
}

/* head logo */
header{
    width: 100%;
    height: 750px;
    background-image: url(./images/logos/sleep.jpg);
    background-size: 100% 100%;
}

header h1{
    margin: 0 auto;
    font-size: 7rem;
    width: 100%;
    position: relative;
    text-align: center;
    top: 8%;
    color: #222417;
    font-family: 'Playball', cursive;
}

/* about */
#about-us{
    width: 75%;
    margin: 50px auto;
    background-color: #05511f;
    border-radius: 2rem;
    border: 5px solid #05511f;
    padding:15px ;
    text-align: center;
    line-height: 1.5rem;
}

#about-us h2{
    font-size: 3.5rem;
    color: #e9e7e8;
    font-family: 'Playball', cursive;
    position: relative;
    bottom: 3rem;
}

#about-us p{
    font-size: 1.5rem;
    font-family: Helvetica, sans-serif;
    color: #c3ccc7;
    position: relative;
    bottom: 1.5rem;
}

/* houses */
#houses figure{
    width: 25%;
}


#houses figure img{
    width: 100%;
    height: 420px;
}

#houses figure figcaption{
    font-size: 3.25rem;
    color: #e0e1db;
}

/* staff */
.member{
    width: 25%;
    margin: 30px;
    text-align: center;
}
.member img{
    width: auto;
    height: 420px;
}

.member h3{
    color: #f7f9f8;
    font-size: 3.75rem;
    font-family: 'Playball', cursive;
    margin-bottom: 10px;
}

.member p{
    font-size: 2.85rem;
    color: #d1d8d4;
}

/* footer */
